div(class="s-content site-page mainPage")
    div(class="row")
        div(class="column large-3 tab-12 mob-12" name="folders")

            form(name="button-of-recived-folder")
                div(class="row")
                    input(name="folderName" type="text" class="h-full-width" placeholder="Добавить папку" value="" autocomplete="off" required)
                    button(type="submit" class="btn btn--medium h-full-width") Добавить

            details(class="h-full-width")
                summary
                    span Входящие
                a(id="recivedUn") Без папки
                div(id="recivedFoldes")
                    if(locals.recivedFolder)
                        each folder in locals.recivedFolder
                            a(id=folder.id) #{folder}


            form(name="button-of-sended-folder")
                div(class="row")
                    input(name="folderName" type="text" class="h-full-width" placeholder="Добавить папку" value="" autocomplete="off" required)
                    button(type="submit" class="btn btn--medium h-full-width") Добавить

            details(class="h-full-width")
                summary
                    span Исходящие
                a(id="sendedUn") Без папки
                div(id="sendedFoldes")
                    if(locals.sendedFolder)
                      each folder in locals.sendedFolder
                          a(id=folder.id) #{folder}

        div(class="column large-4 tab-12 mob-12")
            div(class="bricks-wrapper h-group" name="letters")
                if(locals.selectFolder)
                  each letter in locals.selectFolder
                    article(id=letter.Id class="brick entry format-standard")
                        div(id=letter.Id class="entry__text")
                            div(id=letter.Id class="entry__header")
                                h1(id=letter.Id class="entry__title") #{letter.Theme}

                            div(id=letter.Id class="entry__excerpt")
                                p(id=letter.Id) Получатель: #{letter.Receiver}
                            div(id=letter.Id class="entry__excerpt")
                                p(id=letter.Id) Отправитель: #{letter.Sender}
                            div(id=letter.Id class="entry__excerpt")
                                p(id=letter.Id) #{letter.Text}


        div(class="column large-5 tab-12 mob-12")
            if(locals.letter)
                h3 #{letter.Theme}
                p(class="lead") #{letter.Receiver}
                p(class="lead") #{letter.Sender}
                p(class="lead") #{letter.Text}
