div(class="mainPage")

    if(locals.folderList)
        div(class="folders-main")
            ul(class="listView")
                each folder in locals.folderList
                    li(class="folder") #{folder}

    if(locals.letterList)
        div(class="letterlist-main")
            ul(class="listView" name='letterList')
                each letter in locals.letterList
                    - date = new Date(letter.DateTime * 1000)
                    li()
                        if(locals.letter & locals.letter.Id === letter.Id)
                            conso
                            div(id=letter.Id class="letter-title state-checked")
                                label(class="label theme-title") #{letter.Theme}
                                label(class="label sender-title") #{letter.Sender}
                                label(class="label datetime-title") #{date.toLocaleTimeString()}
                                label(class="label text-title") #{letter.Text}
                        else
                            div(id=letter.Id class="letter-title")
                                label(class="label theme-title") #{letter.Theme}
                                label(class="label sender-title") #{letter.Sender}
                                label(class="label datetime-title") #{date.toLocaleTimeString()}
                                label(class="label text-title") #{letter.Text}



    if(locals.letter && locals.letter.Id)
        - date = new Date(locals.letter.DateTime * 1000)
        div(class="letter-main")
            div(class="letter-view")
                div(class="senderTitle-view")
                    div(class="input-theme-writeLetter")
                        p(class="Input-label") От
                        p(class="Input-from") #{locals.letter.Sender}
                        div(class="bar-p")


                div(class="themeTitle-view")
                    div(class="group input-theme-writeLetter")
                        input(class="Input disabled-input" type="text" placeholder=locals.letter.Theme)
                        span(class="bar")
                        label(class="label-input") Тема

                label(class="label dateTime-view") #{date.toLocaleTimeString()}  #{date.toLocaleDateString()}
                textarea(class="textarea p-letter-text text-view" readonly)  #{locals.letter.Text}

//export {template}
