div(class="s-content site-page mainPage")

    div(class="row")
        div(class="column large-3 tab-12 mob-12" name="folders")
            p Входящие
            if(locals.recivedFolder)
                each folder in locals.recivedFolder
                    a(id=folder class="recived") #{folder}

            p Исходящие
            if(locals.sendedFolder)
              each folder in locals.sendedFolder
                  a(id=folder class="sended") #{folder}

        div(class="column large-4 tab-12 mob-12")
            div(class="bricks-wrapper h-group" name="letters")
                if(locals.selectFolder)
                  each letter in locals.selectFolder
                    article(id=letter.Id class="brick entry format-standard")
                        div(class="entry__text")
                            div(class="entry__header")
                                h1(class="entry__title") #{letter.Theme}

                            div(class="entry__excerpt")
                                p #{letter.Sender}
                            div(class="entry__excerpt")
                                p #{letter.Text}


        div(class="column large-5 tab-12 mob-12")
            if(locals.letter)
                h3 #{letter.Theme}
                p(class="lead") #{letter.Sender}
                p(class="lead") #{letter.Text}
