include  BaseComponents/button
include BaseComponents/pageTitle
include BaseComponents/Text
include BaseComponents/avatar
include BaseComponents/classNames

+pageTitle('Редактирование профиля')

form(method='POST', enctype = 'multipart/form-data')
    +text('Имя')
    input(type='text', name='profile_firstName', value=locals.name, class=classNames.inputClass)
    +text('Фамилия')
    input(type='text', name='profile_lastName', value=locals.surname, class=classNames.inputClass)
    +text('Аватар')
    +avatar(locals.avatar)
    input(type='file', placeholder='Выберете аватар', name='avatar', class=classNames.inputClass)
    input(type='submit', value='Применить', class=classNames.inputClass)
    +button('Назад','back')

//export {template}