include BaseComponents/classNames
include BaseComponents/pageTitle
include  BaseComponents/button

+pageTitle('Отправить письмо')

form(method='POST' class=classNames.formClass)
    p(class='InputTitle') Получатель
    input(type='text', name='receiver', class=classNames.inputClass)
    p(class='InputTitle') Тема
    input(type='text', name='theme', class=classNames.inputClass)
    p(class='InputTitle') Текст
    input(type='text', name='text', class=classNames.inputClass)
    input(type='submit', value='Отправить письмо', class='submit', class=classNames.inputClass)
    +button('Назад', 'back', classNames.regButton)

//export { template };