mixin Letter(letter)
    if(letter)
        p Письмо
        div(id=letter.Id)
            - date = new Date(letter.DateTime * 1000)
            p() Отправитель #{letter.Sender}
            p() Получатель #{letter.Receiver}
            p() Время  #{date.toLocaleTimeString()}  #{date.toLocaleDateString()}
            p() Тема #{letter.Theme}
            p() Текст #{letter.Text}